<mat-sidenav #sidenav mode="push">
  <mat-toolbar color="primary">
    <span>Historial</span>
    <span class="spacer"></span>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-nav-list *ngFor="let item of history">
    <mat-list-item (click)="gifSearchHistory(item)" (click)="sidenav.toggle()">
      {{ item }}
    </mat-list-item>
  </mat-nav-list>
  <mat-list-item> </mat-list-item>
</mat-sidenav>
<mat-toolbar>
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tracusa</span>

  <!-- <span class="spacer"></span> -->
  <form class="app-searchS" [formGroup]="searchFrom" id="demo-2">
    <input
      type="search"
      formControlName="searchIn"
      placeholder="{{ placeH }}"
      title="Vorname, Name"
      (click)="changePlaceH()"
      (keyup.enter)="gifSearch()"
    />
  </form>
  <span class="spacer"></span>
  <mat-slide-toggle>Dark Mode</mat-slide-toggle>
</mat-toolbar>
