<div class="content">

<!-- <mat-paginator [length]="sg.length"
[pageSize]="sg.pageSize"
[pageSizeOptions]="sg.pageSizeOptions"
(page)="OnPageChange($event)">
</mat-paginator> -->

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let gif of gifs" class="">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ gif.title | uppercase }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="gif.images.downsized_medium.url"
        alt="{{ gif.title | uppercase }}"
      />
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

</div>

